.pdf-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.pdf-wrapper {
    background-color: white;
    border-radius: 10px;
}

.react-pdf__Page__canvas {
    border-radius: 10px;
}

.paper-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}